html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100;
}

.leftbanner,
.rightbanner {
    position: fixed;
    width: 50%;
    background-color: #fff;
    z-index: 5;
    transition: width 1s;
    height: 100%
}

#activities,
#organisers {
    overflow-x: hidden;
    overflow-y: auto
}

.leftbanner,
.org {
    height: 100%
}

.leftbanner {
    left: 0
}

.rightbanner {
    right: 0
}

.label {
    fill: rgba(248, 24, 24, .5)
}

.labelboxr {
    position: relative;
    left: 30px
}

@media all and (min-width:200px) and (max-width:400px) {
    .labeltext {
        font-size: 35px
    }
    .activitiespara {
        font-size: 20px;
        font-weight: 15px

    }
    .menubtn{
      padding-top: 10px;
    }
}

@media all and (min-width:401px) and (max-width:800px) {
    .labeltext {
        font-size: 40px
    }
    .activitiespara {
        font-size: 16px;
        font-weight: 25px
    }
    .menubtn{
      padding-top: 10px;
    }
}

@media all and (min-width:800px) and (max-width:2000px) {
    .labeltext {
        font-size: 45px
    }
    .activitiespara {
        font-size: 20px;
        font-weight: 30px
    }
}

.labelboxl {
    position: relative;
    right: 30px
}

#home .full-screen{
    min-height: 100vh;
    min-width: 100%;
}
.text-secondary{
  padding-top: 20px;
}
.logo-med{
    width: 200px;
    height: auto;
}
.logo-med-lg{
    width: 130px;
    height: auto;
}

#primaryNav{
    transition: 0.3s all;
}
#mainNav{
    margin-top: 5px;
    border: 0;
}
#primaryNav .logo-container,
#primaryNav .toggler-container,
#mainNav{
    width: 100%;
}
#primaryNav .logo-container img{
    transition: 0.3s all;
}
/** Navbar Fixed Layout Styles **/
#primaryNav.navbar-fixed-layout{
    background-color: var(--light);
}
#primaryNav.navbar-fixed-layout #mainNav{
    border-top: 1px solid rgba(0,0,0,0.1);
}
#primaryNav.navbar-fixed-layout .logo-container img{
    width: 60px;
    height: auto;
}

#home{
    padding-top: 50px; /** Fix for Floating Menu **/
}
#homeDescription{
    font-family: 'PT Sans Narrow', sans-serif;
  color:black !important;
  font-size: 1.2em;
}
#activities{
  padding-top:50px;
}
#organisations{
  padding-top: 50px;
}
.section-heading{
  font-family: 'Lato', sans-serif;
  color:white;
  background-color: rgba(255,68,68,0.9);
}

#img1,#img2 {
    opacity: 0.5;
}

#img1:hover,#img2:hover {
    opacity: 1.0;
}
#sponsorDescription{
    font-family: 'PT Sans Narrow', sans-serif;
  color:black !important;
}
.activity-description{
    font-family: 'PT Sans Narrow', sans-serif;
}

#homeSocialLinks{
  font-size:48px;
  padding:7px;
  padding-left:15px;
}

#icon{
  color:#aaaaaa;
  padding-left: 15px;
}

#icon:hover {
  color:rgba(0,0,0,0.6);

}
