.label {
  fill:rgba(248,24,24,0.5);
}

#sponsors {
  background-color: #80bfff;
  overflow-x: hidden;
  overflow-y: auto;
}

#aboutUs {
background-color: #ff6666;
overflow-x: hidden;
overflow-y: auto;
}

#content {
  background-color: #ffffff;
}

.labelBox1 {
position: relative;
left: 30px;
}

.labelBox2 {
position: relative;
right: 30px;
}

@media all and (min-width:200px) and (max-width:400px){
  .labelText{
    font-size: 35px;
  }
}

@media all and (min-width:401px) and (max-width:800px){
  .labelText{
    font-size: 40px;
  }
}

  @media all and (min-width:800px) and (max-width:2000px){
    .labelText{
      font-size: 45px;
    }
  }
