
$openercolour: white ;
.leftbanner{
  position:fixed;
  height:100%;
  width:50%;
  left:0px;
  background-color: $openercolour;
  z-index: 5;
  transition: width 1s;
}
.rightbanner{
  position:fixed;
  height:100%;
  width:50%;
  right:0px;
  background-color: $openercolour;
  z-index:5;
  transition: width 1s;
}
#activities{
  overflow-x:hidden;
  overflow-y: auto;

}
.label{
  fill:rgba(248,24,24,0.5) ;
}
.labelboxr{
position: relative;
left:30px;
}


@media all and (min-width:200px) and (max-width:400px){

  .labeltext{
    font-size: 35px;
}
.activitiespara{
  font-family:'Aref Ruqaa';font-size: 20px;
  font-weight: 15px;
}
}
@media all and (min-width:401px) and (max-width:800px){

    .labeltext{
      font-size: 40px;
    }
    .activitiespara{
      font-family:'Aref Ruqaa';font-size: 16px;font-weight:25px;
    }
  }
    @media all and (min-width:800px) and (max-width:2000px){

      .labeltext{
        font-size:45px;
      }
      .activitiespara{
        font-family:'Aref Ruqaa';font-size: 20px;font-weight: 30px;
      }
}


#organisers{
  overflow-x:hidden;
  overflow-y: auto;
}
.org{
  height:100%;
}
.labelboxl{
  position: relative;
  right:30px;
}
